.Aboutme p{
    margin-top: 5%;
    color: #fff;
    font-size: 40px;
    width: 75%;
    text-align: inherit;
    margin-left: 50%;
    transform: translate(-50%);
}
.Aboutme h2
{
  color: #fff;
  margin-top: 6%;
  font-size: 70px;
text-align: inherit;
width: 75%;
margin-left: 50%;
transform: translate(-50%);
}
