@media (min-width: 360px), (max-width: 767px){

footer
{
    margin-top: 5%;
    position: relative;
    height: 70px;
    background-color: rgb(43, 43, 48);
    box-shadow: 0 0 15px 5px rgb(39, 39, 39);
}
.info
{
position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 100%;
    transform: translate(-50%,-50%);
    color: rgb(135, 143, 151);
}
.info span
{
  color: rgb(140, 206, 247);
  font-size: 15px;
  font-weight: bold;
}
}
@media (min-width: 768px)
{
  footer
  {
      height: 100px;
  }
  .info
  {
      font-size: 25px;
  }
  .info span
  {
    font-size: 25px;
  }
    }
}