.Projects h2
{
  color: rgb(135, 143, 151);
    margin-top: 10%;
    font-size: 70px;
text-align: inherit;
width: 75%;
margin-left: 50%;
transform: translate(-50%);
}
.Projects h2:before
{
  content: '';
  position: absolute;
  left: -4%;
  width: 340px;
height: 105%;
  background: rgb(255, 255, 255);
  transform: skew(15deg);
z-index: -1;

}

.wrapper
{
    margin-top: 5%;
}
.img-area
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
align-items: center;
justify-content: center;
}

.wrapper .img-area .imgbox
{
    width: 400px;
    height: 260px;
    border: 4px solid rgb(143, 143, 143);
    box-shadow: 0 0 12px 6px rgb(102, 102, 102);
    position: relative;
    overflow: hidden;
    margin: 20px 20px 20px;
    border-radius: 6px;
}

.wrapper .img-area .imgbox img
{
   transition: 2s;
   opacity: 0.7;
}

.wrapper .img-area .text
{
    position: absolute;
    bottom: 0;
    left: 0;
    background:#6c7479e5;
    width: 100%;
    line-height: 3em;
}
.wrapper .img-area .text a
{
    text-decoration: none;
    position: relative;
    font-size: 25px;
    display: inline;
   margin-left: 25px;
   color: #fff;
}
.wrapper .img-area .text p
{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    display: inline;
  float: right;
  margin-right: 10px;
   color:  rgb(255, 255, 255);
   text-shadow: 0 0 5px #dddddd, 0 0 10px #c5c5c5, 0 0 10px #c7c7c7;
}

.wrapper .img-area .text a:hover
{
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0 0 5px #dddddd, 0 0 10px #c5c5c5, 0 0 10px #c7c7c7;
    transition: 0.5s;
}
.wrapper .img-area .single-img:hover
{
   transition: 1.5s;
   transform: scale(1.05);
   opacity: 1;
}
