
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    --main-color: rgb(174, 204, 228);
    --span-color: rgb(100, 211, 255);
}

body {
    background-color: rgb(135, 143, 151);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Baumans', cursive;
  }
  @media (min-width: 360px), (max-width: 767px){
 .line1
  {
    position: absolute;
    background: white;
    width: 50%;
    height: 2px;
    margin-left: -25%;
    z-index: 2;
  }
  .line2
  {
    position: absolute;
    background: white;
    width: 85%;
    height: 2px;
    margin-left: 15%;
    z-index: 2;
    box-sizing: border-box;
  }
    #box
    {
      position: absolute;
      top: 100%;
    }
}
  @media (min-width: 768px) {

    /*------------ General section ---------*/
    .line1
    {
        height: 3px;
    }
    .line2
    {
      margin-top: 2px;
        height: 3px;
    }
   #Skills
    {
      position: absolute;
      margin-top: 5%;
    }
    #box
{
  position: absolute;
  top: 90%;
}
    
    #Contact
    {
        position: absolute;
      top: 480%;
    }
  }